<h1><%= t('conekta.bank.payment_title') %></h1>

<table id='conekta_bank' class='payment-information'>
  <thead>
    <tr>
      <th colspan='2'> <%= t('conekta.order_number', number: @order.number) %> </th>
    </tr>
    <tr>
      <th> <%= t('conekta.bank.service_number') %> </th>
      <th> <%= t('conekta.bank.reference') %> </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan='2'> <%= raw t('conekta.bank.payment_message') %> </td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class='align-center'> <%= @order_details['bank']['service_number'] %> </td>
      <td class='align-center'> <%= @order_details['bank']['reference'] %> </td>
    </tr>
    <tr>
      <td class='align-right' colspan='2'>
        <b><%= t('conekta.total') %></b>
        <%= money(@order.total) %>
      </td>
    </tr>
  </tbody>
</table>
