<h1><%= t('conekta.bank.payment_title')%></h1>
<h2><%= t('conekta.bank.payment.message')%></h2>

<%= t('conekta.bank.service_number') %>: <%= @order_details['bank']['service_number'] %>
<%= t('conekta.bank.reference') %> : <%= @order_details['bank']['reference'] %>
