<h1><%= t('conekta.banorte.payment_title') %></h1>

<table id='conekta_banorte' class='payment-information'>
  <thead>
    <tr>
      <th colspan='2'> <%= t('conekta.order_number', number: @order.number) %> </th>
    </tr>
    <tr>
      <th> <%= t('conekta.banorte.service_number') %> </th>
      <th> <%= t('conekta.banorte.reference') %> </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan='2'> <%= raw t('conekta.banorte.payment_message') %> </td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class='align-center'> <%= @order_details['payment_method']['service_number'] %> </td>
      <td class='align-center'> <%= @order_details['payment_method']['reference'] %> </td>
    </tr>
    <tr>
      <td class='align-right' colspan='2'>
        <b><%= t('conekta.total') %></b>
        <%= @order.display_total.to_html %>
      </td>
    </tr>
  </tbody>
</table>
